## Import csv File to database

In [1]:
import json
import psycopg2
import io
import pandas as pd
import os
os.getcwd()

'/Users/williamadriel/Desktop'

In [2]:
os.listdir(os.getcwd())

['Grid for India Map.ipynb',
 'Screenshot 2020-01-22 at 10.32.43.png',
 'Import csv to localhost database.ipynb',
 'CreateIndex.png',
 'Screenshot 2020-01-08 at 17.17.05.png',
 '.DS_Store',
 'Movie on 15-12-19 at 01.24.mov',
 '.localized',
 'Grid Polygons.ipynb',
 'Screenshot 2020-01-13 at 14.55.44.png',
 'Adobe stuff',
 'Screenshot 2020-01-21 at 16.00.11.png',
 'India City State Mapping.xlsx',
 'Screenshot 2020-01-08 at 18.17.23.png',
 'Screenshot 2020-01-08 at 19.29.19.png',
 'director interview',
 'Screenshot 2020-01-22 at 17.10.09.png',
 'Yara',
 'Screenshot 2020-01-21 at 15.50.12.png',
 'Screenshot 2020-01-13 at 15.00.09.png',
 'Screenshot 2020-01-31 at 12.33.00.png',
 'Untitled Export',
 'William Signature.jpg',
 'in.csv',
 'skyweathercsv',
 'Screenshot 2020-01-08 at 17.11.27.png',
 'Screenshot 2020-01-30 at 18.12.06.png',
 'December William Adriel Timesheet.xlsx',
 'Screenshot 2020-01-13 at 14.44.31.png',
 '.ipynb_checkpoints',
 'import CSV File.ipynb',
 'Screenshot 2020-01-13 at 14.42.20.png',
 'Link Glitch.mov',
 'Screenshot 2020-01-08 at 17.13.40.png',
 'grid-of-india.py',
 'Screenshot 2020-01-08 at 10.22.39.png',
 'Screenshot 2020-01-08 at 17.17.27.png',
 'December Timesheet.xlsx',
 'Screenshot 2020-01-16 at 17.02.16.png']

In [3]:
grid = pd.read_csv("/Users/williamadriel/Desktop/Yara/merged_grid.csv")
grid.head()

   Unnamed: 0    lon    lat  id  index_right   NAME_1   NAME_2 NAME_0
0         187  68.27  23.85 NaN          147  Gujarat  Kachchh  India
1         306  68.54  23.60 NaN          147  Gujarat  Kachchh  India
2         424  68.81  23.11 NaN          147  Gujarat  Kachchh  India
3         425  68.81  23.36 NaN          147  Gujarat  Kachchh  India
4         426  68.81  23.60 NaN          147  Gujarat  Kachchh  India

In [4]:
def to_pg(df, conn, cur, table_name):
    """Bulk load data in a dataframe to the connected database.
    Params:
        (pandas dataframe) Dataframe to be loaded into the database
        (connection object) Created from the engine.raw_connection() function
        (cursor object) Created from the conn.cursor() function
        (str) Name of the target table to load the data to
    Returns:
        None
    """
    # generate an in-memory stream for text I/O
    output = io.StringIO()
    # save the dataframe as text buffer in the stream
    df.to_csv(output, sep='\t', header=False, index=False)
    # set the stream position to the start of the stream
    output.seek(0)
    # copy output to the target table in the db (null values become '')
    cur.copy_from(output, table_name, null="")
    # commit to save the changes in the db table
    conn.commit()
    # close stream object and discard the text buffer
    output.close()

In [5]:
conn = psycopg2.connect(dbname="postgres", user="postgres", host="localhost",port = 5433, password = '1234')
cur = conn.cursor()
to_pg(grid,conn,cur,'public.grid')